

/*Moises Barrera Keb */

    /*Index*/
    .Estado_Proyecto{
        background-color: #2f3439 !important;
        border-bottom-left-radius: 50px !important;
        border-top-left-radius: 50px !important;
        width: 500px !important;
    }
#cssmenu > ul > li:last-child{
     float: right !important;
 }
    /**/
/*Fin del CSS de Moises Barrera Keb*/
