@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
.wrap {
  width: 600px;
  margin: 0 auto;
}

/* -------------------------------------
* Bar container
* ------------------------------------- */
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: 2px solid #2f3439;
  background-color: tomato;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.hola50 {
  border-radius: 50%;
}

.progress-0 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(90deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-1 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(93.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-2 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(97.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-3 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(100.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-4 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(104.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-5 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(108deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-6 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(111.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-7 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(115.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-8 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(118.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-9 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(122.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-10 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(126deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-11 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(129.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-12 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(133.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-13 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(136.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-14 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(140.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-15 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(144deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-16 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(147.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-17 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(151.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-18 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(154.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-19 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(158.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-20 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(162deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-21 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(165.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-22 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(169.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-23 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(172.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-24 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(176.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-25 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(180deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-26 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(183.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-27 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(187.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-28 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(190.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-29 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(194.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-30 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(198deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-31 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(201.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-32 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(205.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-33 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(208.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-34 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(212.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-35 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(216deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-36 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(219.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-37 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(223.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-38 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(226.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-39 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(230.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-40 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(234deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-41 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(237.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-42 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(241.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-43 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(244.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-44 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(248.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-45 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(252deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-46 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(255.6deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-47 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(259.2deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-48 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(262.8deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-49 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(266.4deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-50 {
  background-image: linear-gradient(-90 deg0, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-51 {
  background-image: linear-gradient(-90 deg3.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-52 {
  background-image: linear-gradient(-90 deg7.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-53 {
  background-image: linear-gradient(-90 deg10.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-54 {
  background-image: linear-gradient(-90 deg14.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-55 {
  background-image: linear-gradient(-90 deg18, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-56 {
  background-image: linear-gradient(-90 deg21.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-57 {
  background-image: linear-gradient(-90 deg25.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-58 {
  background-image: linear-gradient(-90 deg28.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-59 {
  background-image: linear-gradient(-90 deg32.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-60 {
  background-image: linear-gradient(-90 deg36, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-61 {
  background-image: linear-gradient(-90 deg39.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-62 {
  background-image: linear-gradient(-90 deg43.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-63 {
  background-image: linear-gradient(-90 deg46.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-64 {
  background-image: linear-gradient(-90 deg50.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-65 {
  background-image: linear-gradient(-90 deg54, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-66 {
  background-image: linear-gradient(-90 deg57.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-67 {
  background-image: linear-gradient(-90 deg61.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-68 {
  background-image: linear-gradient(-90 deg64.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-69 {
  background-image: linear-gradient(-90 deg68.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-70 {
  background-image: linear-gradient(-90 deg72, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-71 {
  background-image: linear-gradient(-90 deg75.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-72 {
  background-image: linear-gradient(-90 deg79.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-73 {
  background-image: linear-gradient(-90 deg82.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-74 {
  background-image: linear-gradient(-90 deg86.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-75 {
  background-image: linear-gradient(-90 deg90, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-76 {
  background-image: linear-gradient(-90 deg93.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-77 {
  background-image: linear-gradient(-90 deg97.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-78 {
  background-image: linear-gradient(-90 deg100.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-79 {
  background-image: linear-gradient(-90 deg104.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-80 {
  background-image: linear-gradient(-90 deg108, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-81 {
  background-image: linear-gradient(-90 deg111.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-82 {
  background-image: linear-gradient(-90 deg115.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-83 {
  background-image: linear-gradient(-90 deg118.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-84 {
  background-image: linear-gradient(-90 deg122.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-85 {
  background-image: linear-gradient(-90 deg126, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-86 {
  background-image: linear-gradient(-90 deg129.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-87 {
  background-image: linear-gradient(-90 deg133.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-88 {
  background-image: linear-gradient(-90 deg136.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-89 {
  background-image: linear-gradient(-90 deg140.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-90 {
  background-image: linear-gradient(-90 deg144, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-91 {
  background-image: linear-gradient(-90 deg147.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-92 {
  background-image: linear-gradient(-90 deg151.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-93 {
  background-image: linear-gradient(-90 deg154.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-94 {
  background-image: linear-gradient(-90 deg158.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-95 {
  background-image: linear-gradient(-90 deg162, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-96 {
  background-image: linear-gradient(-90 deg165.6, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-97 {
  background-image: linear-gradient(-90 deg169.2, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-98 {
  background-image: linear-gradient(-90 deg172.8, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-99 {
  background-image: linear-gradient(-90 deg176.4, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

.progress-100 {
  background-image: linear-gradient(-90 deg180, tomato 50%, transparent 50%, transparent), linear-gradient(270deg, tomato 50%, #2f3439 50%, #2f3439);
}

/*# sourceMappingURL=Proyecto-index.css.map */
