@media screen and (min-width: 800px) {
  #cssmenu > ul > li:nth-last-child(1){right: 0 !important; position: absolute;}
  .centerdiv{
    margin-top: 20%;
  }
  #cssmenu>ul>li:last-child {
    float: left !important;
  }

  #cssmenu > ul > li:last-child{
    min-width: 170px !important;
  }
}
